
OPENAI_API_KEY="xxx-xxxxxx"

APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN="{TENANT}.us.auth0.com"

# Web client with token vault enabled
AUTH0_CLIENT_ID="xxx-xxxxxx"
AUTH0_CLIENT_SECRET="xxx-xxxxxx"
# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH0_SECRET="xxx-xxxxxx"

# M2M client for Auth0 management API calls
AUTH0_CLIENT_ID_MGMT="xxx-xxxxxx"
AUTH0_CLIENT_SECRET_MGMT="xxx-xxxxxx"
AUTH0_ISSUER_BASE_URL=https://{TENANT}.us.auth0.com

// Connections map required for linke accounts => Google, Windows Live, custom OIDC
ENABLED_CONNECTIONS='{"google-oauth2":"con_xxxxxx","oidc":"con_xxxxxx","windowslive":"con_xxxxxx"}'
